.button_navebr{
    color:black;
    font-size: 20px;
    background-color: rgb(224, 221, 221);
    padding: 0.7rem;
    border-radius: 7px;
    margin-left: 1vw;
}

.button_navebr:hover{
    background-color: silver;
    transform: scale(1.03);
    cursor: pointer;
}