.design_pthoto{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transform: scale(1);
}

@media (max-width: 1000px) {
    .navbar_application_layout {
        height: 10vh;
    }
    
    .logo {
        margin-right: 2rem;
    }
    
    .slogen {
        margin-left: 1rem;
        margin-top: 1rem;
    }
}
