.navbar_application_layout {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, #a1c4fd, #c2e9fb, #c2e9fb, #f0f7f9);
    height: 14vh;
}

.slogen {
    margin-left: 2rem;
    margin-top: 1.3rem;
}

.button {
    margin: 3% 0% 0% 15%;
    margin-top: 2rem;
}

.burger {
    font-size: 3rem;
}

.open_burger {
    display: none;
}

@media (max-width: 1000px) {
    .navbar_application_layout {
        height: 10vh;
    }

    .logo {
        transform: scale(0.7);
    }

    .button {
        margin-top: 0.7rem;
    }

    .slogen {
        font-size: 1.3rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width: 680px) {
    .logo {
        display: none;
    }

    .button {
        display: none;
    }

    .slogen {
        display: none;
    }
}

@media (min-width: 680px) {
    .burger_menu {
        display: none;
    }

    #side_bar {
        display: none;
    }
}

.side_bar_open {
    background-color: #f0f7f9;
}