.navbar_application_layout {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, #a1c4fd, #c2e9fb, #c2e9fb, #f0f7f9);
    height: 14vh;
}

.logo {
    margin-right: 2rem;
}

.slogen {
    margin-left: 2rem;
}

.button {
    margin: 3% 0% 0% 15%;
    margin-top: 2rem;
}

@media (max-width: 1000px) {
    .navbar_application_layout {
        height: 10vh;
    }
    
    .logo {
        margin-right: 2rem;
        transform: scale(0.7);
        margin-bottom: 7rem;
    }

    .button {
        margin-top: 1rem;
    }
    
    .slogen {
        margin-left: 1rem;
        margin-top: 1rem;
    }
}